/* global style start */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}
/* global style end */

/* common style start */
body {
  background-color: #fffaf5;
}
/* common style end */

/* header style start */
.header {
  width: 1240px;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  padding-top: 50px;
}

.logo {
  color: #ec994b;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.24px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  width: 170px;
  height: 50px;
  float: left;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.16px;
}

.navbar ul li a {
  color: #222224;
  text-decoration: none;
}
/* header style end */

/* banner style start */
.banner-container {
  width: 1240px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 76px;
}

.banner-title {
  color: #222224;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 0.64px;
}

.banner-description {
  color: #797979;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
  margin-top: 25px;
}

.banner-btn {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.16px;
  padding: 16px 30px;
  border-radius: 41px;
  background: #ec994b;
  border: none;
  margin-top: 35px;
}

.banner-review {
  width: 285px;
  height: 70px;
  margin-top: 35px;
}
/* banner style end */

/* logo style start */
.logo-container {
  width: 1240px;
  margin: 0px auto;
}

.logo-title {
  color: #9c9c9c;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-top: 78px;
}

.logo-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* logo style end */

/* service style start */
.service-section {
  width: 1240px;
  margin: 0px auto;
  padding-top: 143px;
}

.service-sub-title {
  color: #ec994b;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.service-title {
  color: #222224;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-top: 16px;
}

.service-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 82px;
}

.service-box {
  width: 252.048px;
  height: 385px;
  text-align: center;
}

.service-box-title {
  color: #222224;
  font-size: 30px;
  font-weight: 600;
  margin-top: 28px;
}

.service-box-sub-title {
  color: #222224;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
}
/* service style end */

/* food style start */
.food-section {
  width: 1240px;
  margin: 0px auto;
  padding-top: 143px;
}

.food-sub-title {
  color: #ec994b;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.food-title {
  color: #222224;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-top: 16px;
}

.food-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 82px;
}

.food-box {
  width: 300px;
}

.food-img {
  width: 70%;
}

.food-name {
  color: #222224;
  text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  font-size: 28px;
  font-weight: 600;
}
.food-price {
  color: #222224;
  text-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
  font-size: 24px;
  font-weight: 700;
}
/* food style end */

/* review style start */
.review-section {
  width: 1240px;
  margin: 0px auto;
  padding-top: 143px;
}

.review-sub-title {
  color: #ec994b;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.review-title {
  color: #222224;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  padding-top: 16px;
}

.review-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 143px;
}

.review-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.review-author {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.designation {
  color: #b7b4b4;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.12px;
  margin-top: 7px;
}

.review-details {
  color: #7a7a7a;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  margin-top: 7px;
}
/* review style end */

/* about us style start */
.about-container {
  width: 1240px;
  margin: 0px auto;
  padding: 143px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
}

.about-sub-title {
  color: #ec994b;
  font-size: 14px;
  font-weight: 500;
}

.about-title {
  color: #222224;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.48px;
  margin-top: 20px;
}

.about-details {
  color: #b5b5b5;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
  margin-top: 20px;
}
/* about us style end */

/* discount style start */
.discount-section {
  background-color: #ec994b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 300px;
}

.discount-title {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0.48px;
}

.discount-details {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.16px;
  margin-top: 16px;
}

.discount-form {
  margin-top: 16px;
}

.form input[type="email"] {
  padding: 18px 35px;
  color: #2d2d2d;
  border-radius: 5px;
  background-color: #f3f3f3;
  border: 0;
  width: 70%;
}

.form input[type="submit"] {
  padding: 18px 35px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #222224;
  border: 0;
  width: 20%;
  margin-left: 10px;
}
/* discount style end */

/* footer style start */
.footer-container {
  background-color: #222224;
  padding: 50px 300px;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  color: #ec994b;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.24px;
}

.icon-container {
  padding-top: 10px;
}

.footer-menu-title {
  color: #e2e2e2;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 22px;
}

.footer-menu-item {
  color: #e2e2e2;
  font-size: 18.725px;
  font-weight: 400;
  margin-top: 5px;
}

.copyright {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-top: 113px;
}
/* footer style end */
